/*
    Green/aqua colors I like:
    #109279 for Selected Items / Headers
    #18bc9c for regular shade
*/

div[role="main"] {
    font-size: 1.25em;
}

.text-red { color: #cc0000; }
.text-blue { color: #2fa4e7; }
.text-orange { color: #dd4814; }
.text-green { color: #18bc9c; }
.text-xsml { font-size: 0.7em; }
.text-sml { font-size: 0.8em; }
.text-lrg { font-size: 1.1em; }
.text-i { font-style: italic; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.text-snippet, .text-snippet-uppercase { 
    font-family: "Times New Roman, serif";
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
    margin: 25px 0;
}
.text-snippet { font-size: 1.7em;  }
.text-snippet-uppercase { font-size: 1.4em; text-transform: uppercase; }
.text-snippet-right { float: right; width: 260px; clear: both; margin-left: 25px; }
.desc-right { float: right; width: 260px; clear: both; margin: 10px 0 10px 10px; }


pre { clear: right; }

.float-right { float: right; }

.bold { font-weight: 800; }
table { border-collapse: collapse; }
table, th, td { border: 1px solid #ddd; }
.smalller { display: none; }
.smaller+pre { font-size: 0.8em; }
table.dominoes { margin-right: 10px; width: 40px; float: left;}
table.floatLeft { margin-right: 20px; width: 400px; float: left; }
.clear { clear: both; display: hidden; }
.unbreak { white-space: nowrap; }

/* HEADERS */
h1 { margin-top: 44px; }
h2 { margin-top: 40px; }
h3 { margin-top: 34px; }
h4 { margin-top: 28px; font-size: 1.15em; font-weight: 800; }
h5 { margin-top: 28px; margin-bottom: 18px; font-size: 1.05em; font-weight: 800; }

.subTitleH2 {
    font-size: 1.3em;
    color: #317eac;
    margin-top: -10px;
}

.subTitle-h2 {
    font-size: 0.9em;
    color: #919191;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font-style: italic;
}

/*strong {
    font-weight: 800;
    font-size: 1.1em;
}*/

/* Fixes for comparison tables with bootstrap red, yellow, green backgrounds */
table.tg tr td.alert-success { background-color: #dff0d8; text-align: center; }
table.tg tr td.alert-warning { background-color: #fcf8e3; text-align: center; }
table.tg tr td.alert-danger { background-color: #f2dede; text-align: center; }
table.tg tr th.center { text-align: center; }

.table-striped tbody tr:first-child { background: #dd4814; }
.table-striped tbody tr:first-child th { background: transparent; color: #FFF; }

/* NAV Bar */
.bs-sidenav li  {
    margin-left: 10px;
}
.bs-sidenav  li.main  {
    margin-left: 0px;
}
.bs-sidenav  li a:before  {
    content: '- ';
}
.bs-sidenav  li.main a:before  {
    content: '';
}


/* //////////////////////////////////////////
// Special Tables
////////////////////////////////////////// */

.codeCompare {
    border: none;
}

.codeCompare td {
    width: 50%;
    border: none;
}

/* //////////////////////////////////////////
// MOBILE STYLES
////////////////////////////////////////// */
@media (max-width: 600px) {
    .desc-right { float: none; width: auto; }
    .text-snippet-right { float: none; width: auto; margin-left: 0; }
}

/* //////////////////////////////////////////
// PRINT STYLES
////////////////////////////////////////// */
@media print {
    div[role="main"] {
        font-size: 1.2em;
    }
}
