// COLORS
$color_blue8: #044B79;
$color_blue6: #12649a;
$color_blue5: #0D76BA;
$color_blue4: #337ab7;
$color_blue3: #7dd5ff;

$color_blue4_fg: #FFF;


$color_green7: #045d00;
$color_green5: #5cb85c;
$color_green3: #53ce53;